/* Reutilizando colores */
:root {
    --color-1: #54668E; /* Azul oscuro */
    --color-2: #879EC6; /* Azul claro */
    --color-3: #363955; /* Gris oscuro */
    --color-4: #F5F6E6; /* Crema */
    --color-5: #E8E8E8; /* Gris claro */
}
body { font-family: 'Poppins', sans-serif; margin: 0; }
header { background-color: var(--color-1); color: var(--color-4); padding: 20px; text-align: center; }